# Core dependencies
llama-index
llama-index-embeddings-huggingface
llama-index-llms-groq
llama-index-readers-file
chromadb
groq
fpdf
streamlit
openai
google-generativeai
cryptography
tiktoken
pymupdf
